# Local .terraform directories
**/.terraform/*

# Crash log files
crash.log
crash.*.log

# .tfstate files
*.tfstate
*.tfstate.*

# Ignoring override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json


# Excluding all .tfvars files
*.tfvars
*.tfvars.json

# Ignoring CLI configuration files
.terraformrc
terraform.rc